.id1{
  background-color: rgb(196, 64, 7);
  width: 100%;
  height: 80px;
  display:flex;
  gap: 20px;
  margin-top: 0%;
}
.id2{
     
  background-color: rgb(39, 39, 3);
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}